.texpadtmp/Assingnment1.aux
.texpadtmp/Assingnment1.log
.texpadtmp/Assingnment1.synctex.gz
image/.texpadtmp/Assingnment1.aux
image/.texpadtmp/Assingnment1.log
image/.texpadtmp/Assingnment1.synctex.gz
workspace.xml
RandomString(512).txt
Assingnment1.bbl
Assingnment1.blg
